<div id="header" class="w-section header">
    {{log this}}
    <div class="w-container">
        <div class="navigation">
            {{navigation}}
        </div>
        <img src="{{@blog.cover}}"/>
        <h1 id="headerText" class="w-col w-col-8 w-clearfix">{{@blog.title}}</h1>
        <h3 id="subheaderText">{{@blog.description}}</h2>
    </div>
</div>
