{{!< default}}
{{log post}}
<div class="section" id="journal">
  <div class="w-container">
      <div class="w-row">
          {{#post}}
          <article class="{{post_class}}">
              <header class="post-header">
                  <h1 class="post-title">{{title}}</h1>
                  <section class="post-meta">
                      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                          {{date format="MMMM D, YYYY"}}
                      </time>
                      {{tags prefix=" on "}}
                  </section>
                  <img src="{{image}}" class="post-image"/>
              </header>
              <section class="post-content">
                  {{content}}
              </section>
          </article>
          <div class="post w-row" style="margin-left: auto; margin-right:auto; margin-top: 50px" >
            <img src="{{author.image}}" style="float: left; margin-right: 25px; max-width: 200px"/>
            <p class="bio-text">About Me:<br><em>{{author.bio}}</em></p>

          </div>
          {{/post}}
      </div>
      
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/webflow.js"></script>
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
